@inherits LayoutComponentBase

<header class="ws-header">
    <div class="ws-header-titles">
        <div class="ws-title">WebSpectre</div>
        <a class="ws-header-title" href="#" target="blank">МОНИТОРИНГ</a>
        <a class="ws-header-title" href="#" target="blank">АНАЛИЗ</a>
    </div>
    <div class="ws-header-authorize">
        <span class="ws-username">Admin41</span>
        <a class="ws-add-user">Добавить пользователя</a>
        <a class="ws-authorize">Сменить пароль</a>                   
        <a class="ws-unauthorize">Выход</a>                   
    </div>            
</header>
<main class="ws-main">
    @Body
</main>
<footer class="ws-footer">
</footer>
