@page "/monitor"

<PageTitle>Мониторинг</PageTitle>

<div class="ws-agents">
    <div class="ws-agent">
        <img src="icons/desktop.png" alt="agent" class="main-icon">
        <span class="ws-agent-hostname">HOST1</span>
        <button class="ws-agent-button">Информация</button>
        <button class="ws-agent-button">Сетевые адаптеры</button>
    </div>
    <div class="ws-agent">
        <img src="icons/desktop.png" alt="agent" class="main-icon">
        <span class="ws-agent-hostname">HOST2</span>
        <button class="ws-agent-button">Информация</button>
        <button class="ws-agent-button">Сетевые адаптеры</button>
    </div>
    <div class="ws-agent">
        <img src="icons/desktop.png" alt="agent" class="main-icon">
        <span class="ws-agent-hostname">HOST3</span>
        <button class="ws-agent-button">Информация</button>
        <button class="ws-agent-button">Сетевые адаптеры</button>
    </div>
    <div class="ws-agent">
        <img src="icons/desktop.png" alt="agent" class="main-icon">
        <span class="ws-agent-hostname">HOST4</span>
        <button class="ws-agent-button">Информация</button>
        <button class="ws-agent-button">Сетевые адаптеры</button>
    </div>
</div>

@code {

}
